[Unit]
Description=DaoliNet OVS Plugin
After=syslog.target network.target

[Service]
TimeoutStartSec=0
Restart=always
User=root
ExecStart=/usr/bin/daoliplugin

[Install]
WantedBy=multi-user.target
